In [1]:
from datetime import date, timedelta
import gc
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder

import lightgbm as lgb

### Data Reading

In [83]:
df_train = pd.read_csv(
    './data/favorita-grocery-sales-forecasting/train.csv', usecols=[1, 2, 3, 4, 5],
    dtype={'onpromotion': bool},
    converters={'unit_sales': lambda u: np.log1p(float(u)) if float(u) > 0 else 0},
    parse_dates=["date"],
    skiprows=range(1, 66458909)
)


df_test = pd.read_csv(
    "./data/favorita-grocery-sales-forecasting/test.csv", usecols=[0, 1, 2, 3, 4],
    dtype={'onpromotion': bool},
    parse_dates=["date"]
).set_index(
    ['store_nbr', 'item_nbr', 'date']
)

### Feature Engineer

In [84]:
df_train.head(3)

        date  store_nbr  item_nbr  unit_sales  onpromotion
0 2016-01-01         25    105574    2.564949        False
1 2016-01-01         25    105575    2.302585        False
2 2016-01-01         25    105857    1.386294        False

In [85]:
df_train.tail(3)

               date  store_nbr  item_nbr  unit_sales  onpromotion
59038129 2017-08-15         54   2110456    5.262690        False
59038130 2017-08-15         54   2113914    5.293305         True
59038131 2017-08-15         54   2116416    1.098612        False

In [88]:
items = pd.read_csv(
    "./data/favorita-grocery-sales-forecasting/items.csv").set_index("item_nbr")

stores = pd.read_csv(
    "./data/favorita-grocery-sales-forecasting/stores.csv").set_index("store_nbr")

In [89]:
le = LabelEncoder()
items['family'] = le.fit_transform(items['family'].values)

In [90]:
stores['city'] = le.fit_transform(stores['city'].values)
stores['state'] = le.fit_transform(stores['state'].values)
stores['type'] = le.fit_transform(stores['type'].values)

In [93]:
df_2017 = df_train.loc[df_train.date >= pd.datetime(2017,1,1), :]
del df_train

In [96]:
df_2017.set_index(["store_nbr", "item_nbr", "date"])[["onpromotion"]].head(5)

                               onpromotion
store_nbr item_nbr date
25        99197    2017-01-01        False
          103665   2017-01-01        False
          105574   2017-01-01        False
          105857   2017-01-01        False
          106716   2017-01-01        False

In [97]:
promo_2017_train = df_2017.set_index(
    ["store_nbr", "item_nbr", "date"])[["onpromotion"]].unstack(
        level=-1).fillna(False)

In [99]:
promo_2017_train.head(3)

                   onpromotion                                              \
date                2017-01-01 2017-01-02 2017-01-03 2017-01-04 2017-01-05
store_nbr item_nbr
1         96995          False      False      False      False      False
          99197          False      False      False      False      False
          103520         False      False      False      False      False

                                                                           \
date               2017-01-06 2017-01-07 2017-01-08 2017-01-09 2017-01-10
store_nbr item_nbr
1         96995         False      False      False      False      False
          99197         False      False      False      False      False
          103520        False      False      False      False      False

                      ...                                                  \
date                  ...     2017-08-06 2017-08-07 2017-08-08 2017-08-09
store_nbr item_nbr    ...
1         96995       ...          False      False      False      False
          99197       ...          False      False      False      False
          103520      ...          False      False      False      False

                                                                           \
date               2017-08-10 2017-08-11 2017-08-12 2017-08-13 2017-08-14
store_nbr item_nbr
1         96995         False      False      False      False      False
          99197         False      False      False      False      False
          103520        False      False      False      False      False


date               2017-08-15
store_nbr item_nbr
1         96995         False
          99197         False
          103520        False

[3 rows x 227 columns]

In [100]:
# get_level_values() Return an Index of values for requested level.
promo_2017_train.columns = promo_2017_train.columns.get_level_values(1)

promo_2017_test = df_test[["onpromotion"]].unstack(level=-1).fillna(False)
promo_2017_test.columns = promo_2017_test.columns.get_level_values(1)

In [104]:
promo_2017_test.head(3)

date                2017-08-16  2017-08-17  2017-08-18  2017-08-19  \
store_nbr item_nbr
1         96995          False       False       False       False
          99197          False       False       False       False
          103501         False       False       False       False

date                2017-08-20  2017-08-21  2017-08-22  2017-08-23  \
store_nbr item_nbr
1         96995          False       False       False       False
          99197          False       False       False       False
          103501         False       False       False       False

date                2017-08-24  2017-08-25  2017-08-26  2017-08-27  \
store_nbr item_nbr
1         96995          False       False       False       False
          99197          False       False       False       False
          103501         False       False       False       False

date                2017-08-28  2017-08-29  2017-08-30  2017-08-31
store_nbr item_nbr
1         96995          False       False       False       False
          99197          False       False       False       False
          103501         False       False       False       False

In [106]:
# reset index https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.reindex.html
promo_2017_test = promo_2017_test.reindex(promo_2017_train.index).fillna(False)
promo_2017 = pd.concat([promo_2017_train, promo_2017_test], axis=1)

In [107]:
del promo_2017_test, promo_2017_train

In [108]:
df_2017 = df_2017.set_index(
    ["store_nbr", "item_nbr", "date"])[["unit_sales"]].unstack(level=-1).fillna(0)
df_2017.columns = df_2017.columns.get_level_values(1)

In [109]:
df_2017.head(3)

date                2017-01-01  2017-01-02  2017-01-03  2017-01-04  \
store_nbr item_nbr
1         96995            0.0    0.000000    0.000000    0.000000
          99197            0.0    0.000000    1.386294    0.693147
          103520           0.0    0.693147    1.098612    0.000000

date                2017-01-05  2017-01-06  2017-01-07  2017-01-08  \
store_nbr item_nbr
1         96995       0.000000    0.000000    0.000000         0.0
          99197       0.693147    0.693147    1.098612         0.0
          103520      1.098612    1.386294    0.693147         0.0

date                2017-01-09  2017-01-10     ...      2017-08-06  \
store_nbr item_nbr                             ...
1         96995       0.000000    0.000000     ...        1.098612
          99197       0.000000    0.693147     ...        0.000000
          103520      0.693147    0.693147     ...        0.000000

date                2017-08-07  2017-08-08  2017-08-09  2017-08-10  \
store_nbr item_nbr
1         96995       1.098612    0.000000    0.000000    0.693147
          99197       1.098612    0.000000    1.098612    0.000000
          103520      0.000000    1.386294    0.000000    1.386294

date                2017-08-11  2017-08-12  2017-08-13  2017-08-14  2017-08-15
store_nbr item_nbr
1         96995       0.000000    0.000000    0.000000         0.0         0.0
          99197       0.000000    0.000000    0.000000         0.0         0.0
          103520      0.693147    0.693147    0.693147         0.0         0.0

[3 rows x 227 columns]

In [112]:
# items has the same index as df_2017 item_nbr column, and same length
items = items.reindex(df_2017.index.get_level_values(1))

# stores has the same index as df_2017 store_nbr column, and same length
stores = stores.reindex(df_2017.index.get_level_values(0))

In [116]:
df_2017_item = df_2017.groupby('item_nbr')[df_2017.columns].sum()
promo_2017_item = promo_2017.groupby('item_nbr')[promo_2017.columns].sum()

In [122]:
df_2017_store_class = df_2017.reset_index()
df_2017_store_class['class'] = items['class'].values

In [123]:
df_2017_store_class.head(3)

date,store_nbr,item_nbr,2017-01-01 00:00:00,2017-01-02 00:00:00,2017-01-03 00:00:00,2017-01-04 00:00:00,2017-01-05 00:00:00,2017-01-06 00:00:00,2017-01-07 00:00:00,2017-01-08 00:00:00,...,2017-08-07 00:00:00,2017-08-08 00:00:00,2017-08-09 00:00:00,2017-08-10 00:00:00,2017-08-11 00:00:00,2017-08-12 00:00:00,2017-08-13 00:00:00,2017-08-14 00:00:00,2017-08-15 00:00:00,class
0,1,96995,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,1.098612,0.000000,0.000000,0.693147,0.000000,0.000000,0.000000,0.0,0.0,1093
1,1,99197,0.0,0.000000,1.386294,0.693147,0.693147,0.693147,1.098612,0.0,...,1.098612,0.000000,1.098612,0.000000,0.000000,0.000000,0.000000,0.0,0.0,1067
2,1,103520,0.0,0.693147,1.098612,0.000000,1.098612,1.386294,0.693147,0.0,...,0.000000,1.386294,0.000000,1.386294,0.693147,0.693147,0.693147,0.0,0.0,1028

In [124]:
df_2017_store_class_index = df_2017_store_class[['class', 'store_nbr']]
df_2017_store_class = df_2017_store_class.groupby(['class', 'store_nbr'])[df_2017.columns].sum()

In [126]:
df_2017_store_class.head(3)

date             2017-01-01  2017-01-02  2017-01-03  2017-01-04  2017-01-05  \
class store_nbr
1002  1                 0.0    6.291569   11.901285    9.939627   12.817576
      2                 0.0   27.836761   21.942946   23.265525   20.405583
      3                 0.0   42.484074   29.286804   35.991684   29.124900

date             2017-01-06  2017-01-07  2017-01-08  2017-01-09  2017-01-10  \
class store_nbr
1002  1           10.961278   13.708549    7.454720   18.598319   12.322254
      2           23.207544   32.629193   33.057327   18.878450   24.403008
      3           31.628492   36.412191   32.819483   27.527092   26.893368

date                ...      2017-08-06  2017-08-07  2017-08-08  2017-08-09  \
class store_nbr     ...
1002  1             ...        6.068426   11.966952   13.458607   11.431281
      2             ...       28.459131   25.885741   22.351737   21.326989
      3             ...       38.142670   27.082659   30.859413   28.748667

date             2017-08-10  2017-08-11  2017-08-12  2017-08-13  2017-08-14  \
class store_nbr
1002  1           13.367622    5.545177   13.628506    5.375278   18.639141
      2           16.401095   26.828830   27.567914   25.059788   21.576931
      3           30.232542   36.638416   31.272846   32.256757   33.608285

date             2017-08-15
class store_nbr
1002  1           10.450452
      2           24.121024
      3           24.929109

[3 rows x 227 columns]

In [128]:
df_2017_promo_store_class = promo_2017.reset_index()
df_2017_promo_store_class['class'] = items['class'].values
df_2017_promo_store_class_index = df_2017_promo_store_class[['class', 'store_nbr']]
df_2017_promo_store_class = df_2017_promo_store_class.groupby(['class', 'store_nbr'])[promo_2017.columns].sum()

In [145]:
def get_timespan(df, dt, minus, periods, freq='D'):
    return df[pd.date_range(dt - timedelta(days=minus), periods=periods, freq=freq)]

In [160]:
def prepare_dataset(df, promo_df, t2017, is_train=True, name_prefix=None):
    
    # this is on the promotion tables
    X = {
        # total promotion days in the past 14 days,
        # sum over columns 
        "promo_14_2017": get_timespan(promo_df, t2017, 14, 14).sum(axis=1).values,
        "promo_60_2017": get_timespan(promo_df, t2017, 60, 60).sum(axis=1).values,
        "promo_140_2017": get_timespan(promo_df, t2017, 140, 140).sum(axis=1).values,
        "promo_3_2017_aft": get_timespan(promo_df, t2017 + timedelta(days=16), 15, 3).sum(axis=1).values,
        "promo_7_2017_aft": get_timespan(promo_df, t2017 + timedelta(days=16), 15, 7).sum(axis=1).values,
        "promo_14_2017_aft": get_timespan(promo_df, t2017 + timedelta(days=16), 15, 14).sum(axis=1).values,
    }
    
    # this is on the unit sales tables
    # and for this one, we just break down by promo & non-promo day
    for i in [3, 7, 14, 30, 60, 140]:
        tmp1 = get_timespan(df, t2017, i, i)
        tmp2 = (get_timespan(promo_df, t2017, i, i) > 0) * 1

        X['has_promo_mean_%s' % i] = (tmp1 * tmp2.replace(0, np.nan)).mean(axis=1).values
        X['has_promo_mean_%s_decay' % i] = (tmp1 * tmp2.replace(0, np.nan) * np.power(0.9, np.arange(i)[::-1])).sum(axis=1).values

        X['no_promo_mean_%s' % i] = (tmp1 * (1 - tmp2).replace(0, np.nan)).mean(axis=1).values
        X['no_promo_mean_%s_decay' % i] = (tmp1 * (1 - tmp2).replace(0, np.nan) * np.power(0.9, np.arange(i)[::-1])).sum(axis=1).values
    
    # get mean, median, min, max, std sales of the past i days
    # then find the mean daily difference
    for i in [3, 7, 14, 30, 60, 140]:
        tmp = get_timespan(df, t2017, i, i)
        X['diff_%s_mean' % i] = tmp.diff(axis=1).mean(axis=1).values
        # total sales quantity of the past n days
        X['mean_%s_decay' % i] = (tmp * np.power(0.9, np.arange(i)[::-1])).sum(axis=1).values
        # mean saales quantity of the past n days
        X['mean_%s' % i] = tmp.mean(axis=1).values
        
        # median
        X['median_%s' % i] = tmp.median(axis=1).values
        X['min_%s' % i] = tmp.min(axis=1).values
        X['max_%s' % i] = tmp.max(axis=1).values
        X['std_%s' % i] = tmp.std(axis=1).values

    for i in [3, 7, 14, 30, 60, 140]:
        tmp = get_timespan(df, t2017 + timedelta(days=-7), i, i)
        X['diff_%s_mean_2' % i] = tmp.diff(axis=1).mean(axis=1).values
        X['mean_%s_decay_2' % i] = (tmp * np.power(0.9, np.arange(i)[::-1])).sum(axis=1).values
        X['mean_%s_2' % i] = tmp.mean(axis=1).values
        X['median_%s_2' % i] = tmp.median(axis=1).values
        X['min_%s_2' % i] = tmp.min(axis=1).values
        X['max_%s_2' % i] = tmp.max(axis=1).values
        X['std_%s_2' % i] = tmp.std(axis=1).values

    for i in [7, 14, 30, 60, 140]:
        tmp = get_timespan(df, t2017, i, i)
        X['has_sales_days_in_last_%s' % i] = (tmp > 0).sum(axis=1).values
        X['last_has_sales_day_in_last_%s' % i] = i - ((tmp > 0) * np.arange(i)).max(axis=1).values
        X['first_has_sales_day_in_last_%s' % i] = ((tmp > 0) * np.arange(i, 0, -1)).max(axis=1).values

        tmp = get_timespan(promo_df, t2017, i, i)
        X['has_promo_days_in_last_%s' % i] = (tmp > 0).sum(axis=1).values
        X['last_has_promo_day_in_last_%s' % i] = i - ((tmp > 0) * np.arange(i)).max(axis=1).values
        X['first_has_promo_day_in_last_%s' % i] = ((tmp > 0) * np.arange(i, 0, -1)).max(axis=1).values

    tmp = get_timespan(promo_df, t2017 + timedelta(days=16), 15, 15)
    X['has_promo_days_in_after_15_days'] = (tmp > 0).sum(axis=1).values
    X['last_has_promo_day_in_after_15_days'] = i - ((tmp > 0) * np.arange(15)).max(axis=1).values
    X['first_has_promo_day_in_after_15_days'] = ((tmp > 0) * np.arange(15, 0, -1)).max(axis=1).values

    for i in range(1, 16):
        X['day_%s_2017' % i] = get_timespan(df, t2017, i, 1).values.ravel()

    for i in range(7):
        X['mean_4_dow{}_2017'.format(i)] = get_timespan(df, t2017, 28-i, 4, freq='7D').mean(axis=1).values
        X['mean_20_dow{}_2017'.format(i)] = get_timespan(df, t2017, 140-i, 20, freq='7D').mean(axis=1).values

    for i in range(-16, 16):
        X["promo_{}".format(i)] = promo_df[t2017 + timedelta(days=i)].values.astype(np.uint8)

    X = pd.DataFrame(X)

    if is_train:
        y = df[
            pd.date_range(t2017, periods=16)
        ].values
        return X, y
    if name_prefix is not None:
        X.columns = ['%s_%s' % (name_prefix, c) for c in X.columns]
    return X

In [288]:
print("Preparing dataset...")
t2017 = date(2017, 6, 14)
num_days = 6
X_l, y_l = [], []
for i in range(num_days):
    delta = timedelta(days=7 * i)
    X_tmp, y_tmp = prepare_dataset(df_2017, promo_2017, t2017 + delta)

    X_tmp2 = prepare_dataset(df_2017_item, promo_2017_item, t2017 + delta, is_train=False, name_prefix='item')
    X_tmp2.index = df_2017_item.index
    X_tmp2 = X_tmp2.reindex(df_2017.index.get_level_values(1)).reset_index(drop=True)

    X_tmp3 = prepare_dataset(df_2017_store_class, df_2017_promo_store_class, t2017 + delta, is_train=False, name_prefix='store_class')
    X_tmp3.index = df_2017_store_class.index
    X_tmp3 = X_tmp3.reindex(df_2017_store_class_index).reset_index(drop=True)

    X_tmp = pd.concat([X_tmp, X_tmp2, X_tmp3, items.reset_index(), stores.reset_index()], axis=1)
    X_l.append(X_tmp)
    y_l.append(y_tmp)

    del X_tmp2
    gc.collect()

Preparing dataset...

In [289]:
X_train = pd.concat(X_l, axis=0)
y_train = np.concatenate(y_l, axis=0)

del X_l, y_l

In [290]:
X_val, y_val = prepare_dataset(df_2017, promo_2017, date(2017, 7, 26))

X_val2 = prepare_dataset(df_2017_item, promo_2017_item, date(2017, 7, 26), is_train=False, name_prefix='item')
X_val2.index = df_2017_item.index
X_val2 = X_val2.reindex(df_2017.index.get_level_values(1)).reset_index(drop=True)

X_val3 = prepare_dataset(df_2017_store_class, df_2017_promo_store_class, date(2017, 7, 26), is_train=False, name_prefix='store_class')
X_val3.index = df_2017_store_class.index
X_val3 = X_val3.reindex(df_2017_store_class_index).reset_index(drop=True)

X_val = pd.concat([X_val, X_val2, X_val3, items.reset_index(), stores.reset_index()], axis=1)

X_test = prepare_dataset(df_2017, promo_2017, date(2017, 8, 16), is_train=False)

X_test2 = prepare_dataset(df_2017_item, promo_2017_item, date(2017, 8, 16), is_train=False, name_prefix='item')
X_test2.index = df_2017_item.index
X_test2 = X_test2.reindex(df_2017.index.get_level_values(1)).reset_index(drop=True)

X_test3 = prepare_dataset(df_2017_store_class, df_2017_promo_store_class, date(2017, 8, 16), is_train=False, name_prefix='store_class')
X_test3.index = df_2017_store_class.index
X_test3 = X_test3.reindex(df_2017_store_class_index).reset_index(drop=True)

X_test = pd.concat([X_test, X_test2, X_test3, items.reset_index(), stores.reset_index()], axis=1)

del X_test2, X_val2, df_2017_item, promo_2017_item, df_2017_store_class, df_2017_promo_store_class, df_2017_store_class_index
gc.collect()

63

### Prediction

In [291]:
print("Training and predicting models...")
params = {
    'num_leaves': 80,
    'objective': 'regression',
    'min_data_in_leaf': 200,
    'learning_rate': 0.02,
    'feature_fraction': 0.8,
    'bagging_fraction': 0.7,
    'bagging_freq': 1,
    'metric': 'l2',
    'num_threads': 16
}

MAX_ROUNDS = 100
val_pred = []
test_pred = []
cate_vars = []

Training and predicting models...

In [ ]:
for i in range(16):
    print("=" * 50)
    print("Step %d" % (i+1))
    print("=" * 50)
    dtrain = lgb.Dataset(
        X_train, label=y_train[:, i],
        categorical_feature=cate_vars,
        weight=pd.concat([items["perishable"]] * num_days) * 0.25 + 1
    )
    dval = lgb.Dataset(
        X_val, label=y_val[:, i], reference=dtrain,
        weight=items["perishable"] * 0.25 + 1,
        categorical_feature=cate_vars)
    bst = lgb.train(
        params, dtrain, num_boost_round=MAX_ROUNDS,
        valid_sets=[dtrain, dval], early_stopping_rounds=125, verbose_eval=50
    )
#     print("\n".join(("%s: %.2f" % x) for x in sorted(
#         zip(X_train.columns, bst.feature_importance("gain")),
#         key=lambda x: x[1], reverse=True
#     )))
    val_pred.append(bst.predict(
        X_val, num_iteration=bst.best_iteration or MAX_ROUNDS))
    test_pred.append(bst.predict(
        X_test, num_iteration=bst.best_iteration or MAX_ROUNDS))

print("Validation mse:", mean_squared_error(
    y_val, np.array(val_pred).transpose()))

weight = items["perishable"] * 0.25 + 1
err = (y_val - np.array(val_pred).transpose())**2
err = err.sum(axis=1) * weight
err = np.sqrt(err.sum() / weight.sum() / 16)
print('nwrmsle = {}'.format(err))

==================================================
Step 1
==================================================

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/lightgbm/basic.py:1291: UserWarning: Using categorical_feature in Dataset.
  warnings.warn('Using categorical_feature in Dataset.')